.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.border {
    border: 2px;
    border-color: #00b846;
    border-style: solid;
    padding: 20px;
}
.logo {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}
