/* pages/Users.module.css */
.container {
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.thead {
    background-color: #f2f2f2;
}

.th, .td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.button {
    margin-right: 5px;
    padding: 5px 10px;
    color: #fff;
    background-color: #0070f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonDelete {
    background-color: #e60000;
}

.button:hover {
    opacity: 0.8;
}
